
.sort-dropdown-menu {
    position: absolute;
    left: 255px;
    top: 130px;
    background: #00031c;
    border: 2px solid #ff4600;
    border-radius: 5%;
    width: 127px;
    color: #ff6328;
    z-index: +4;
  }

  .sort-dropdown-menu ul {
    list-style: none;
    padding: 0;
  }

  .sort-dropdown-menu li {
    position: relative;
    padding-left: 27px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    text-align: start;
  }

  .sort-dropdown-menu li.sort-selected svg {
    stroke: white !important;
    fill: white !important;
}

  .sort-dropdown-menu li.sort-selected {
    background-image: url("../../assets/check-mark-orange.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #ff4600;
    z-index: 11;
  }

.sort-button {
  position: absolute;
  left: 304px;
  top: 105px;
  background-color: transparent;
  background-image: url("../../assets/sort.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
  transition: transform 0.2s ease;
}

.sort-button:hover.sort-button:hover:onclick {
  transform: scale(1.1);
  border: transparent;
}

.sort-button svg {
  stroke: white !important;
  fill: white !important;
}


.filter-dropdown-menu {
    position: absolute;
    left: 400px;
    top: 130px;
    background: #00031c;
    border: 2px solid #ff4600;
    border-radius: 5%;
    width: 127px;
    color: #ff6328;
    z-index: +4;
  }

  .filter-dropdown-menu ul {
    list-style: none;
    padding: 0;
  }

  .filter-dropdown-menu li {
    position: relative;
    padding-left: 27px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    text-align: start;
  }

  .filter-dropdown-menu li.filter-selected svg {
    stroke: white !important;
    fill: white !important;
}

  .filter-dropdown-menu li.filter-selected {
    background-image: url("../../assets/check-mark-orange.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    color: #ff4600;
    z-index: +6;
  }

.filter-button {
  position: absolute;
  width: 30px;
  height: 30px;;
  left: 450px;
  top: 103px;
  background-color: transparent;
  background-image: url("../../assets/filter-orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
  transition: transform 0.2s ease;
}

.sort-button:hover.sort-button:hover:onclick {
  transform: scale(1.1);
  border: transparent;
}

.sort-button svg {
  stroke: white !important;
  fill: white !important;
}

/* .sort-button {
    position: absolute;
    left: 287px;
    top: 85px;
    background: #002e2e;
    border: 2px solid white;

    transition: transform 0.2s ease;
}

.filter-button {
    position: absolute;
    background: #002e2e;
    left: 423px;
    top: 85px;
    border: 2px solid white;
    transition: transform 0.2s ease;
}
.filter-dropdown-menu ul,
.sort-dropdown-menu ul {
    list-style: none;
}

.sort-button:hover,
.filter-button:hover {
    transform: scale(1.1);
}

.filter-dropdown-menu,
.sort-dropdown-menu {
    position: absolute;
    left: 255px;
    top: 130px;
    background: #002e2e;
    border: 2px solid white;
    width: 130px;
    border-radius: 10%;
}

.sort-dropdown-menu {
    left: 255px;
    top: 130px;
}

.filter-dropdown-menu {
    left: 400px;
    top: 130px;
}

.sort-dropdown-menu li {
    position: relative;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    text-align: start;
  }

  .sort-dropdown-menu li.sort-selected {
    background-image: url("../../assets/check-mark-orange.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    color: white;
    z-index: 11;
  }


.sort-button:hover.sort-button:hover:onclick {
  transform: scale(1.1);
  border: transparent;
}

.sort-button svg {
  stroke: white !important;
  fill: white !important;
} */

