/* ========================= */
/* GLOBAL STYLES */
/* ========================= */


.contain-input {
    position: relative;
    transform: scale(1.6);
    bottom: 1rem;
    left: 6rem;
    transform-origin: center;
    transition: .2s ease-in-out;
}

.contain-input:hover {
    animation: scaleBounce 1s ease-in-out;
}


.text-input {
    display: block;
    position: relative;
    top: 0rem;
    left: 3rem;
    font: normal normal 100 .8rem monospace;
    height: 3.05rem;
    width: 14rem;
    border: none;
    padding-left: 25px;
    padding-right: 0px;
    opacity: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
    outline: none;
    z-index: 2;
}

.input-rectangle {
    position: relative;
    top: -0.1rem;
    left: 2rem;
    height: 3.2rem;
    width: 21rem;
    z-index: 6;
    opacity: 100%;
    overflow: hidden;
    border-radius: 23px;
}

.button-input-wrapper {
    position: relative;
    top: 0rem;
    left: 0rem;
    width: 23rem;
    height: 3.2rem;
    border-radius: 30px;
    border: none;
    overflow: hidden;
}


/* ========================= */
/* TEXT INPUT STYLES */
/* ========================= */

.text-input.search {
    background: #F6EEC9;
    color: #C93F2B;
}

.text-input.add {
    background: #C93F2B;
    color: #F6EEC9;
}

/* ========================= */
/* INPUT RECTANGLES */
/* ========================= */

.input-rectangle.search {
    animation: renderTaskSearch 0.5s forwards ease-in-out;
}

.input-rectangle.add {
    animation: renderTaskRect 0.5s forwards ease-in-out;
}

/* ========================= */
/* INPUT SHADOW */
/* ========================= */
.input-shadow {
    position: absolute;
    top: 0rem;
    left: 3rem;
    height: 3.2rem;
    width: 19.9rem;
    border-radius: 30px;
    transition: 5s ease-in-out;
    z-index: 1;
}

.input-shadow.search {
    background-color: #F6EEC9;
    box-shadow: 0 0 100px 0 #F6EEC9,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
}

.input-shadow.add {
    background-color: #C93F2B;
    box-shadow: 0 0 100px 0 #C93F2B,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
}

/* ========================= */
/* PLACEHOLDER STYLES */
/* ========================= */

.text-input::placeholder {
    font: normal normal 100 .8rem monospace;
}

.text-input.search::placeholder {
    color: #C93F2B;
}

.text-input.add::placeholder {
    color: #F6EEC9;
}

/* ========================= */
/* TOGGLE BUTTON STYLES */
/* ========================= */

.toggle-button {
    background-color: transparent;
    position: relative;
    top: -3.15rem;
    left: 18rem;
    height: 50px;
    width: 90px;
    background-size: 170px 170px;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 10;
    /* transition: 0.2s ease-in-out; */
}

.toggle-button:hover {
    transform: scale(1.1);
}


.toggle-button.search {
    background-image: url("../../assets/orange-drip.svg");
    color: #F6EEC9;
    animation: renderSearchButton 0.5s forwards ease-in-out;
}

.toggle-button.add {
    background-image: url("../../assets/tan-drip.svg");
    color: #C93F2B;
    animation: renderTaskButton 0.5s forwards ease-in-out;
}

.toggle-button.search.animating {
    filter: none;
}

/* ========================= */
/* TOGGLE ICON STYLES */
/* ========================= */

.toggle-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    top: -1rem;
    left: 1rem;
    z-index: 10;
    animation: showIcon 0.5s forwards ease-in-out;
}

.toggle-icon.animating {
    animation: fadeIcon 0.5s forwards ease-in-out;
}

/* ========================= */
/* ANIMATION STYLES */
/* ========================= */

/* Expanding effect */
.text-input.search::before {
    content: "";
    position: relative;
    width: 0%;
    height: 100%;
    background: #C93F2B;
    top: 0;
    right: 0;
    transition: width 6s ease-in-out;
    z-index: 20;
}

.text-input.search.animating::before {
    width: 100%;
}

/* Move the button left */
.toggle-button.animating {
    animation: moveLeft 0.5s forwards ease-in-out;
}


@keyframes scaleBounce {
    0% {
        transform: scale(1.6);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.6);
    }
}

/* Fade and show icons */
@keyframes fadeIcon {
    100% {
        opacity: 0;
    }
}

@keyframes showIcon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Move toggle button */
@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translate(-18rem);
    }
}

/* Button animation when switching modes */
@keyframes renderTaskButton {
    0% {
        transform: translateX(-18rem);
        background-image: url("../../assets/orange-drip.svg");
    }
    100% {
        transform: translate(0);
        background-image: url("../../assets/tan-drip.svg");
    }
}

@keyframes renderSearchButton {
    0% {
        transform: translateX(-18rem);
        background-image: url("../../assets/tan-drip.svg");
    }
    100% {
        transform: translate(0);
        background-image: url("../../assets/orange-drip.svg");
    }
}

/* Background transitions */
@keyframes renderTaskRect {
    0% {
        background-color: #C93F2B;
    }
    100% {
        background-color: #F6EEC9;
    }
}

@keyframes renderTaskSearch {
    0% {
        background-color: #F6EEC9;
    }
    100% {
        background-color: #C93F2B;
    }
}