.task-list-wrap {
    position: relative;
    padding-left: 0rem;
    display: block;
    border: 3px solid rgb(13, 13, 44);
}

.input-container {
    position: relative;
    right: 3rem;
    padding-bottom: 2rem;
}

.wrap {
    position: relative;
    left: 37rem;
    top: 2rem;
    width: 30rem;
    border: 5px solid green;
}