.tan {
    background-color: #F6EEC9;
}

.red-orange {
    background-color: #C93F2B;
}

.task-item {
    position: relative;
    height: 3rem;
    width: 29.5rem;
    border-radius: 10px;
    font: bold;
    transition: transform .19s ease;
}

.toggle-complete {
    position: absolute;
    background-color: transparent;
    height: 4rem;
    width: 6.2rem;
    top: -0.36rem;
    left: -2rem;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7.5rem 7.5rem;
    overflow: visible;
    transition: transform 0.1s ease-in-out;
    /* border: 1px solid black; */
    z-index: 100;
}

.tan-drip-svg {
    background-image: url("../../assets/tan-drip-blob.svg");
}

.red-orange-drip-svg {
    background-image: url("../../assets/red-orange-drip-blob.svg");
}

.toggle-complete.tan-drip-svg.animating {
    animation: slideButtonTan 5s ease-in-out;
}

.toggle-complete.red-orange-drip-svg.animating {
    animation: slideButtonRedOrange 5s ease-in-out;
}

.sliding-rect {
    position: relative;
    top: -1.73rem;
    right: 28rem;
    height: 3rem;
    width: 29rem;
    z-index: 100;
}

.sliding-rect.tan.animating {
    animation: slideRectTan 5s ease-in-out;
}

.sliding-rect.red-orange.animating {
    animation: slideRectRedOrange 5s ease-in-out;
}

.list-text {
    position: relative;
    left: 4.3rem;
    top: 0.5rem;
    color: #213547;
    font-weight: 900;
    font-size: 1.5rem;
}


.contain-list-item {
    position: relative;
    left: -2.5rem;
    height: 3rem;
    width: 33rem;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .1s ease-in-out;
    opacity: 80%;
}


@keyframes slideButtonTan {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(28rem);
    }
    100% {
        transform: translateX(0rem);
        background-image: url("../../assets/red-orange-drip-blob.svg");
    }
}

@keyframes slideButtonRedOrange {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(28rem);
    }
    100% {
        transform: translateX(0rem);
        background-image: url("../../assets/tan-drip-blob.svg");
    }
}

@keyframes slideRectTan {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(28rem);
    }
    100% {
        transform: translateX(0rem);
        background-color: #C93F2B;
    }
}

@keyframes slideRectRedOrange {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(28rem);
    }
    100% {
        transform: translateX(0rem);
        background-color: #F6EEC9;
    }
}
