.completed-task {
    color:rgb(83, 212, 212);
    font: bold;
    transition: transform 1s ease;
}

.completed-task:hover {
    transform: scale(1.05);
    color:rgb(4, 250, 250);
    font: bolder;
}