.task-list-wrap {
    position: relative;
    top: 22rem;
    left: 36rem;
    width: 29.5rem;
    padding-left: 0rem;
    display: block;
}

.wrap-input-container {
    position: sticky;
    top: 0rem;
    z-index: 10;
}

.input-container {
    position: absolute;
    width: 29.5rem;
    top: 10rem;
    left: 32.8rem;
    padding-bottom: 2rem;
    z-index: 10;
}

/* rgba(33, 53, 71, 1) */

.fade-background {
    position: absolute;
    top: 12rem;
    left: 19rem;
    height: 6rem;
    width: 60rem;
    z-index: 9;
    background: linear-gradient(to bottom, rgba(33, 53, 71, 1) 40%, transparent);
    pointer-events: none;
}
.background {
    position: absolute;
    top: 0rem;
    left: 19rem;
    height: 13rem;
    width: 60rem;
    z-index: 7;
    background:rgb(33, 53, 71);
}


